<div class= "container ">
  <div class= "row py-3">
    <h5 class= "col-3 text-center p-3 mb-2 bg-light text-darke">商品編集</h5>
  </div>
</div>

<div class= "container ">
  <div class= "row py-3">
    <div class= "mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <%= form_with model:@item, url: admin_item_path(@item), local:true do |f| %>

        <div class= "mb-4 form-group">
          <label class= "col-2 p-2">商品画像</label>
          <span><%= f.attachment_field :image, placeholder: "商品画像" %></span>
        </div>

        <div class= "mb-4 d-flex form-group">
          <label class= "col-2 p-2">商品名</label>
          <%= f.text_field :item, autofocus: true, placeholder:"商品名", class: "form-control"%>
        </div>

        <div class= "mb-4 d-flex form-group">
          <label class= "col-2 p-2">商品説明</label>
          <%= f.text_area :item_explanation, autofocus: true, placeholder:"ここに説明文を記述します", class: "form-control" %>
        </div>

        <div>ジャンル</div>

        <div class= "mb-4 d-flex form-group">
          <label class= "col-2 p-2">税別価格</label>
          <%= f.text_field :price, autofocus: true, placeholder:"選択されていません", class: "form-control" %>
        </div>

        <div class= "mb-4 d-flex form-group">
          <label class= "col-3 p-2">販売ステータス</label>
         	<%= f.radio_button :sale_status, true %>
          <%= f.label :sale_status, "販売中" %>
          <%= f.radio_button :sale_status, false %>
          <%= f.label :sale_status, "販売停止中" %>
        </div>

      <%= f.submit "変更を保存", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>