<div class= "container ">
  <div class= "row py-3">
    <h5 class= "col-3 text-center p-3 mb-2 bg-light text-dark">注文情報確認</h5>
  </div>
</div>

<div class= "container">
  <div class= "row">
    <div class= "d-flex">
      <table class="h-25 table table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <% @cart_items.each do |cart_item| %>
        <tbody>
          <tr>
            <td><%= cart_item.item.item %></td>
            <td><%= (cart_item.item.price).to_s(:delimited) %></td>
            <td><%= cart_item.quantity %></td>
            <td><%= (cart_item.item.price*cart_item.quantity).to_s(:delimited) %></td>
          </tr>
          </tbody>
        <% end %>
      </table>

        <table class="offset-1 table table-bordered">
          <tbody>
            <tr>
              <th style="width: 10%">送料</th>
              <td style="width: 40%"><%= @order.postage.to_s(:delimited) %></td>
            </tr>
            <tr>
              <th style="width: 10%">商品合計</th>
              <td style="width: 10%"><%= @sum.to_s(:delimited) %></td>
            </tr>
            <tr>
              <th style="width: 10%">請求金額</th>
              <td style="width: 40%"><%= number_to_currency(@total,　format: "%u %n") %></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

<h2>支払方法</h2>
<%= @order.payment_method %>

<h2>お届け先</h2>
<%= @order.postal_code + "  " + @order.address %><br />
<%= @order.name %>

<%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :postal_code %>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :total_payment, value: @total %>
  <%= f.submit "注文を確定する" %>
<% end %>
