<div class= "container ">
  <div class= "row py-3">
    <h5 class= "col-3 text-center p-3 mb-2 bg-light text-dark">注文情報確認</h5>
  </div>
</div>

<div class= "container">
  <div class= "row">
    <div class= "d-flex">
      <table class="h-25 table table-bordered">
        <%= render 'customers/orders/content_order', cart_items: @cart_items %>
      </table>

        <table class="offset-1 table table-bordered">
          <tbody>
            <tr>
              <th style="width: 10%; background-color: #EEEEEE;">送料</th>
              <td style="width: 40%"><%= @order.postage.round.to_s(:delimited) %></td>
            </tr>
            <tr>
              <th style="width: 10%; background-color: #EEEEEE;">商品合計</th>
              <td style="width: 40%"><%= @sum.round.to_s(:delimited) %></td>
            </tr>
            <tr>
              <th style="width: 10%; background-color: #EEEEEE;">請求金額</th>
              <td style="width: 40%"><%= @total.round.to_s(:delimited) %></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

<div class= "container ">
  <div class= "row py-3">
    <div class= " p-3 mb-2">

      <h4>支払方法</h4>
      <%= @order.payment_method %>

      <h4 class= "mt-4">お届け先</h4>
      <%= @order.postal_code + "  " + @order.address %><br />
      <%= @order.name %>

      <%= form_with model: @order, url: orders_path, method: :post, local: true, class: "m-3" do |f| %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :postal_code %>
        <%= f.hidden_field :address %>
        <%= f.hidden_field :total_payment, value: @total %>
        <%= f.submit "注文を確定する", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
