<div class= "container ">
  <div class= "row py-3">
    <h2 class= "col-3 text-center design">マイページ</h2>
  </div>
</div>

<div class= "container ">
  <div class= "row px-3 py-3">
    <h5 class= "offset-1 col-1 font-weight-bold">登録情報</h5>
    <%= link_to "編集する", edit_customers_path, class: "col-1 btn btn-success" %>
  </div>
</div>

<div class= "container">
  <div class= "row px-3">
    <div class= "offset-1 col-4">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th style="color: #FFF; font-weight: bold; background:#00BCD4;" class= "col-4">氏名</th>
            <td class= "col-8"><%= current_customer.first_name %>&emsp;<%= current_customer.last_name %></td>
          </tr>
          </tr>
          <tr>
            <th style="color: #FFF; font-weight: bold; background:#00BCD4;" class= "col-4">カナ</th>
            <td class= "col-12"><%= current_customer.first_name_kana %>&emsp;<%= current_customer.last_name_kana %></td>
          </tr>
          <tr>
            <th style="color: #FFF; font-weight: bold; background:#00BCD4;" class= "col-4">郵便番号</th>
            <td class= "col-12"><%= current_customer.post_code %></td>
          </tr>
          <tr>
            <th style="color: #FFF; font-weight: bold; background:#00BCD4;" class= "col-4">住所</th>
            <td class= "col-12"><%= current_customer.address %></td>
          </tr>
          <tr>
            <th style="color: #FFF; font-weight: bold; background:#00BCD4;" class= "col-4">電話番号</th>
            <td class= "col-12"><%= current_customer.phone_number %></td>
          </tr>
          <tr>
            <th style="color: #FFF; font-weight: bold; background:#00BCD4;" class= "col-4">メールアドレス</th>
            <td class= "col-12"><%= current_customer.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class= "container">
  <div class= "row py-3">
    <!--リンク未設定(なりた）-->
    <h5 class= "offset-1 col-1 font-weight-bold">配送先</h5>
    <%= link_to "一覧を見る", addresses_path, class: "col-1 btn btn-primary" %>
  </div>
</div>

<div class= "container">
  <div class= "row py-3">
    <!--リンク未設定(なりた）-->
    <h5 class= "offset-1 col-1 font-weight-bold">注文履歴</h5>
    <%= link_to "一覧を見る", orders_path, class: "col-1 btn btn-primary" %>
  </div>
</div>
