<div class= "container">
  <div class= "row text-center">
    <div class= "mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h2 class= "text-center p-3 mb-2 bg-light text-dark">管理者ログイン</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field mb-4">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field mb-4">
          <%= f.label :パスワード %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <%= f.submit "Log in", class: "btn btn-primary" %>

      <% end %>
    </div>
  </div>
</div>