 <div class= "container">
  <div class= "row">
     <div class= "text-end">
      <%= link_to new_admins_item_path do %>
         <i class="fas fa-plus"></i>
      <% end %>
    </div>
  </div>
</div>

 <table class='table table-hover table-inverse'>

  <thead>
     <h1>商品一覧</h1>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
      <th colspan="5"></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.item, admins_item_path(item.id) %>
        </td>

        <td><%= number_to_currency(item.price) %></td>

         <td><%= item.genre.genre_name %></td>
         <td><% if item.sale_status == true %>

          <h7 class='ture' style="color :limegreen;"><strong>販売中</strong></h7>
          <% else %>
	  	    <h7 class='false' style="color :#d3d3d3;"><strong>品切れ</strong></h7>
	  	    <% end %>
	  	    </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
  </div>

<%= paginate @item_page %>