<!--ジャンルサイドバー{Tsuyoshi}-->
 <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">

      <tbody class="container">
	    <span>ジャンル検索</span>
	    <br />

          <%# @genres.each do |genre| %>

	  	   	<tr class="row">
            <td>
            </td>
            <td><%= @genre %></td>
          　<td><%#= link_to "詳細", admins_genre_path, class:"btn btn-primary" %></td>
	  	  	</tr>
  	  	  <%# end %>
  	  	</tbody>


            </ul>
          </div>
        </div>
      </div>
  </div>
<!--ジャンルサイドバー{Tsuyoshi}-->

<!--本文{Tsuyoshi}-->
<div class="container">
  <div class="row">
    <div class='mx-auto col-6'>
      <p>ようこそ、ながのCAKEへ！<br>
         このサイトは、ケーキ販売のECサイトになります。<br>
         会員でない方も商品の閲覧はできますが、<br>
         購入には会員登録が必要になります。</p>
    </div>
  </div>
</div>
<!--本文{Tsuyoshi}-->


<div class="container my-5">
  <div class="row">
    <h3 class='mx-auto col-6'>新着商品</h3>
  </div>

  <!--新着商品4件表示{Tsuyoshi}-->
  <tbody>
  <div class="d-flex align-content-stretch flex-row mb-4 offset-3">
    <% @items.last(4).each do |item| %>
     <span class= "p-4">
        <%= link_to item_path(item) do %>
          <%= attachment_image_tag item, :image, :fill, 100, 100, format: 'jpeg', fallback: 'noimage.jpg', size: '200x200', class: "rounded" %>
        <% end %><br />
        <%= item.item %><br />
        <%= number_to_currency(item.price * 1.1, :format => "%u%n", :unit => "￥") %></span><br />
    <% end %>
  </div>

  <div class='text-end'>
     <%= link_to '全ての商品を見る >',items_path %>
 </div>

</div>
  <tbody>



 <!--新着商品4件表示{Tsuyoshi}-->