<div class= "container">
<h4 class="w-25 p-1 text-center" style="background-color: #eee;">ログイン</h4>

<p class="w-25 p-1 text-center" style="background-color: #eee;">会員の方はこちらからログイン</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
   <i><%= f.label :メールアドレス %></i>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
  </div>

  <div class="field">
    <i><%= f.label :パスワード %></i>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン", class: "btn btn-primary btn-lg btn-block" %>
  </div>
<% end %>

　<p class="w-25 p-1 text-center" style="background-color: #eee;">会員登録がお済みでない方</p>
      <div><%= link_to "こちら",  new_customer_registration_path %>　<span>から新規登録してください。</span> </div>

</div>