<!DOCTYPE html>
<html>
  <head>
    <title>sweetsterro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>



    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container">

      <li class="LOGO">
       <strong>LOGO</strong>
      </li>

      <div class="collapse navbar-collapse" id="navbarNavDropdown"></div>
      <ul class="navbar-nav ml-auto">
      <% if customer_signed_in? %>

      <li class= mypage>
        <button class="btn btn-default"><%= link_to "マイページ" %></button>
      </li>

     <li class= items>
      <button class="btn btn-default"><%= link_to "商品一覧" %></button>
      </li>

       <li class=cart>
      <button class="btn btn-default"><%= link_to "カート" %></button>
      </li>

      <li class=logout>
        <button class="btn btn-default"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></button>
      </li>

    <% else %>

     <li class=about>
      <button class="btn btn-default"><%= link_to "About" %></button>
      </li>

       <li class= items>
     <button class="btn btn-default"><%= link_to "商品一覧" %></button>
      </li>


      <li calss=signup>
      <button class="btn btn-default"><%= link_to "新規登録", new_customer_registration_path %></button>
      </li>

      <li class=login>
      <button class="btn btn-default"><%= link_to "ログイン", new_customer_session_path %></button>
      </li>

   <% end %>


    <!--< if admin_signed_in? %>-->
    <!-- <li class= items>-->
    <!--  <= link_to '商品一覧' %>-->
    <!--  </li>-->

    <!-- <li class= customers>-->
    <!--  <= link_to '会員一覧' %>-->
    <!--  </li>-->

    <!--   <li class=orders>-->
    <!--  <= link_to '注文履歴一覧' %>-->
    <!--  </li>-->

    <!--  <li class=genres>-->
    <!--  <= link_to 'ジャンル一覧' %>-->
    <!--  </li>-->

    <!--  <li class=logout>-->
    <!--   <= link_to "ログアウト" %>-->
    <!--  </li>-->

    <!--< end %>-->

    </ul>
    </div>
    </nav>
    </header>
    <%= notice %>
    <%= yield %>
  </body>

  </html>